<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!---- Include the above in your HEAD tag -------->
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="public/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="public/style.css">

    <script src="public/js/custom.js"></script>

    <title>Edit User Profile</title>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous"> -->
    <!-- Bootstrap Core CSS -->
<!--     <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
 -->

</head>
<body>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="/index" rel="home"><img class="d-block" src="public/images/DISCOVERY.PNG" alt="logo"></a>
                       <a class="d-block" href="/index" rel="home"><img class="d-block" src="public/images/logo.png" alt="logo"></a>
                           </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="/main">HOME</a></li>
                                <!-- <li><a href="/about">ABOUT US</a></li>
                                <li><a href="/services">SERVICES</a></li>
                                <li><a href="/register">REGISTER</a></li> -->
                                <li><a href="/logout">LOG OUT</a></li>

                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

    </header>


       <!-- Custom CSS -->
       <style>
        header {
            padding-top: 30px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    
        header{margin-bottom:100px;}
        </style>
<div class="row"></div>
<div class="row1"></div>
<div class="row2"></div>
<div class="row3"></div>
<div class="row4"></div>
<div class="row5"></div>
<div class="row6"></div>
<div class="row7"></div>
<div class="row8"></div>
<div class="row9"></div>
<div class="row10">



      
    <div class="col-12 col-md-6 col-lg- mt-5 mt-lg-0">
            <img src="public/images/team-3.jpg" 
            alt="user" width="100">
            <h2>James Ivy</h2>
            <h5>Age: 23</h5>
            <h5>Gender: Male</h5>
            <h5>ID: 123456789</h5>
            <h5>Date of Birth: 01/01/1997</h5>
            <h5>Marital Status: Single</h5>
            <h5>Occupation: Student</h5>
            <div class="info">
                <h3>User Information</h3>
                <h5>Discovery Vitality: 1234567890 </h5>
                <h5>Discovery Health: </h5>
                <div class="info_data">
                     <div class="data">
                        <h4>Email</h4>
                        <p>jamesivy@gmail.com</p>
                     </div>
                     <div class="data">
                       <h4>Phone</h4>
                        <p>061-234-5678</p>
                    </div>
                </div>
            </div>

        </div>
    
        <div class="col-12 col-md-6 col-lg- mt-5 mt-lg-0">
           
           
    
           
                <div class="info1">
                    <h3>Physical Address</h3>
                    <div class="info_data">
                         <div class="data">
                            <p>1 Jan Smuts Avenue<p>
                            <p>Johannesburg</p>
                            <p>2000<p>
                         </div>
                    </div>
                </div>
           
    
     
            
                <div class="info2">
                    <h3>Allergies</h3>
                    <div class="info_data">
                         <div class="data">
                            <p>Fish</p>
                         </div>
                </div>
                </div>
           
    
    
          
                <div class="info3">
                    <h3>Dietary Requirements</h3>
                    <div class="info_data">
                         <div class="data">
                            <p>Halaal<p>
                    </div>
                </div>
                </div>
            
    
                <div class="info4">
                    <h3>Chronic Conditions</h3>
                    <div class="info_data">
                         <div class="data">
                            <p>Diabetic<p>
                    </div>
                </div>
                </div>
            
          
          <div class="medications">
                <h3>Medications</h3>
                <div class="medications_data">
                     <div class="data">
                        <p>Insulin</p>
                     </div>
                </div>
            </div>
          
              </ul>
          </div>

</div>
   
    
        <div class="form-group">
            <label class="col-md-4 control-label" ></label>  
            <div class="col-md-4">
            <a href="/editProfile" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Edit Profile</a>
            </div>
        </div>
    
    
    
            </div>
    
       
    
    
    </div>


          <!-- jQuery Version 1.11.1 -->
          <script src="public/js/jquery.js"></script>
      
          <!-- Bootstrap Core JavaScript -->
          <script src="public/js/bootstrap.min.js"></script>

</body>
</html>
